body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header{
    background-color: greenyellowv;
    color: darkblue;
    text-align: center;
}
nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav > ul > li > a{
    text-decoration: none;
}
section.propiedades{
    display: flex;
    justify-content: space-around;
}
article{
    flex: 1;
    background-color: brown;
    padding: 20px;
}
ul > li > a > img{
    height: 20px;
}
footer > ul {
    display: flex;
    justify-content:center;
    list-style: none;
}
footer > ul > li {
    padding: 10px;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  p {
    font-size: 60px;
    text-align: center;
    margin: 30px;
    background-color: red;
    color: white;
  }
  h1{
    font-size: 150px;
  }